$font-barlow: 'Barlow', sans-serif;
$font-fraunces : 'Fraunces', serif;

$font-weight-regular : 600;
$font-weight-bold : 700;
$font-weight-black : 900;


$color-primmary-red : hsl(7, 99%, 70%);
$color-primmary-yellow : hsl(51, 100%, 49%);
$color-primmary-dark-cyan : hsl(167, 40%, 24%);
$color-primmary-blue : hsl(198, 62%, 26%);
$color-primmary-cyan : hsl(168, 34%, 41%);

$color-neutral-veryDarkDesaturatedBlue : hsl(212, 27%, 19%);
$color-neutral-VeryDarkGrayishBlue : hsl(213, 9%, 39%);
$color-neutral-DarkGrayishBlue : hsl(232, 10%, 55%);
$color-neutral-grayishBlue : hsl(210, 4%, 67%);
$color-neutral-white : hsl(0, 0%, 100%);

