.nav {

    width: 47.6rem;

    text-align: center;
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__item {
        
    }

    &__link {
        color: rgb(241, 241, 241);
        font-size: 1.7rem;
        font-family: $font-barlow;

        &:hover {
            color: rgb(209, 209, 209);
            transition: ease-in-out 200ms;
        }
    }




}